body {
	text-align: center;
}

#cabecera {
	background-color: #ccc;
	height: 50px;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.centrar {
	margin: 0 auto;
	width: 960px;
}

.contenido {
	background-color: #f00;
	float: left;
	position: relative;
	text-align: left;
	width: 960px;
}

#contenedor {
	background-color: #999;
	float: left;
	height: 800px;
	padding-top: 60px;
	width: 100%;
}

#pie {
	background-color: #666;
	float: left;
	height: 100px;
	width: 100%;
}